/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	background: #f0f0f0;
	width: 100%;
	margin: 0;
	font-family: courier new;

}

#header{

	background: #e4e4d9;
	height: 100px;
	/*position: fixed;*/
	width: 100%;		
}

#header a{

	float: right;
	margin: 10px 20px;
	padding: 10px 25px;
	text-decoration: none;
	border-radius: 3px;
	transition: .3s;
}

#header a:hover{
	background: #f5eeee;
}
.col1{
	float: left;
	width: 20%;
}

.col2{
	float: left;
	width: 60%;
}
.col3{
	float: left;
	width: 20%;
}

footer{
	clear: both;
}

.post_wrapper{
	background: #eaeae7;
	width: 100%;
	margin: 0;
	cursor: pointer;
	transition: .4s;
}

.post_wrapper:hover{

	background: #dbdbd8;
}
.title a{
	text-decoration: none;
	color: black;

}

.body{
	height: auto;
	width: 100%;
	border-bottom: 1px solid
}
.text_area{

	width: 100%;
	font-size: 14px;
	font-family: courier new;
	background: transparent;
}
.comment{
	background: #eaeae7;

}
.comment_time{
	font-size: 12px;
}

.submit{
	width: 100px;
	height: 30px;
	border: 1px solid;
	float: right;
	background: transparent;
	border-radius: 3px;
	transition: .3s;
}
.submit:hover{
	background: #dbdbd8;
}

.text_field{
	background: transparent;
	border: 1px solid;
	width: 300px;
	height: 30px;
	font-size: 14px;
	font-family: courier new;
}



